body {
	font-family: 'Sigmar One', cursive;
	background: #fffadc;
	color: #92d3cf;
	padding: 100px 0 0;
}

.navbar {
	background: #fffadc;
	color: #92d3cf;
}
.text-muted {
	color: #aacac9;
}

.title-super {
	font-size: 55px;
}

.img-logo {
	margin: 10px 0 0;
	width: 20%;
	height: 20%;
	border-radius: 50%;
}
.img-small {
	width: 20%;
	height: 20%;
}

.primary {
	background: #30a9d6;
	color: #efede9;
}